<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">News</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card-header>
    <H1>Arts & Culture</H1>
  </ion-card-header>

  <ion-list>
    <img src="https://thumbs-prod.si-cdn.com/s2HM8Yl-43MbLH_SKcGBrRWfIDM=/420x240/https://public-media.si-cdn.com/filer/50/59/5059bbce-32aa-4d81-a2b7-1c6155a76118/wall_drug_dinosaur-social.jpg"/>
    <ion-card-content>
      <ion-card-title>
        Will America's Roadside Attractions Survive COVID-19?
        </ion-card-title>
      <p>
        With canceled bus tours and capacity limits, the country’s quirkiest stops are facing some
				serious challenges
      </p>
    </ion-card-content>

    <img src="https://thumbs-prod.si-cdn.com/veJIDiPYW_hFGLteRVDQhQP1wLs=/420x240/https://public-media.si-cdn.com/filer/b8/d2/b8d24197-86d0-4354-906c-e3c7fdcea2a2/leavenworth_washington-main.jpg"/>
    <ion-card-content>
      <ion-card-title>
        Ten American Towns That Feel Like Europe
        </ion-card-title>
      <p>
        You don’t have to travel far to get a taste of European culture right here in the United States
      </p>
    </ion-card-content>

    <img src="https://thumbs-prod.si-cdn.com/n7kz2Ilhr70hNmeSN6lfhhFNDLU=/420x240/https://public-media.si-cdn.com/filer/cb/7d/cb7d7626-80eb-4d8f-a987-04712a5f3d0d/1005760_finalmechs-3.jpg"/>
    <ion-card-content>
      <ion-card-title>
        Inspire Your Toddler’s STEM Career With This ‘Goodnight Moon’ Parody
        </ion-card-title>
      <p>
        Astronomer Kimberly Arcand releases her new children’s book ‘Goodnight Exomoon’
      </p>
    </ion-card-content>

    <img src="https://thumbs-prod.si-cdn.com/1fQnYml06mAsQ4sSFsD-v9kQMCU=/420x240/https://public-media.si-cdn.com/filer/76/f1/76f14d56-0c71-42be-8f07-0ad6665ffcf3/untitled-1.jpg"/>
    <ion-card-content>
      <ion-card-title>
        How a Once-Hidden Cache of Art and Archives Expands the Narratives of Mexican Modernism
        </ion-card-title>
      <p>
        The works and writings of American artist and art critic Walter Pach are newly available to
				scholars and the resource is rich with history
      </p>
    </ion-card-content>
  </ion-list>
  
</ion-content>
